<tr>
  <th><%= produto.nome %></th>
  <th><%= produto.descricao %></th>
  <th><%= produto.quantidade %></th>
  <th><%= produto.preco %></th>
  <th><%= button_to "Remover", produto , method: :delete, class:"btn btn-danger", data:{confirm:"Deseja realmente remover #{produto.nome} ?"} %></th>
  <th><%= link_to "Alterar", edit_produto_path(produto), class:"btn btn-success" %></th>
</tr>
