
    <h1><%= @message %></h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
          <%= render partial: "produto", collection: @produtos_buscado %>
        </tbody>
    </table>

    <%= link_to "Criar", new_produto_path %>
