<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>
    <h1><%= @message %></h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Excluir</th>
            <th>Editar</th>
        </tr>
        </thead>
        <tbody>
          <%= render @produtos  %>
        </tbody>
    </table>

    <%= link_to "Criar", new_produto_path %>
