<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isn_usuario %><br>
    <%= f.text_field :isn_usuario %>
  </div>
  <div class="field">
    <%= f.label :dsc_login %><br>
    <%= f.text_field :dsc_login %>
  </div>
  <div class="field">
    <%= f.label :dsc_senha %><br>
    <%= f.text_field :dsc_senha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
