<p id="notice"><%= notice %></p>

<p>
  <strong>Isn usuario:</strong>
  <%= @usuario.isn_usuario %>
</p>

<p>
  <strong>Dsc login:</strong>
  <%= @usuario.dsc_login %>
</p>

<p>
  <strong>Dsc senha:</strong>
  <%= @usuario.dsc_senha %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
